<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">

    <title>CometLux - Logs</title>
</head>
<body>
    <header class="header">
      <a href="/accueil" class="logo"><img class="logo_mid" src="../img/mid_logo.png"></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/lumiere">Lumiere</a></li>
            <li><a href="/scenario">Scenario</a></li>
            <li><a href="/logs">Logs</a></li>
        </ul>
    </header>
    <section>
        <!-- <h2 class="title">Archive</h2> -->
        <div class="container">
            <table>
                <caption>Archive des 10 dernières logs</caption>
                <thead>
                  <tr>
                    <th scope="col">Source</th>
                    <th scope="col">Date</th>
                    <th scope="col">Lampe affectée</th>
                    <th scope="col">Description</th>
                    <th scope="col">ID</th>
                  </tr>
                </thead>
                <tbody style="color: #fff;"> 
                    <% for (let i = 0; i < data.length; i++) { %>
                        <tr class="<%= i % 2 === 1 ? "pair" : "nonpair" %>">
                            <td><%= data[i].source %></td>
                            <td><%= clearDate(data[i].timestamp) %>, il y a <%= humanizeDuration(new Date() - data[i].timestamp, {language: 'fr', largest: 3, round: true, conjunction: " et " }) %> </td>
                            <td><%= data[i].nom %>  (<%= data[i].type %>)</td>
                            <td><%= data[i].description %></td>
                            <td><%= data[i].id %></td>
                        </tr>
                    <%  } %>

                </tbody>
              </table>
        </div>
    </section>
    <div style="display: flex; justify-content: center; align-items: center;">
      <img class="logo_img" src="../img/logo.png" alt="Logo version miniature">
  </div>
</body>
</html>